<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
  <div class="container">
    <a href="#" class="navbar-brand">Frontend Bootcamp</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/result" class="nav-link">Tournaments</a>
        </li>
        <li class="nav-item">
          <a href="#instructors" class="nav-link">Reports</a>
        </li>
        <li class="nav-item">
          <a href="#instructors" class="nav-link">About</a>
        </li>
        @if(isAuth()) {
        <li class="nav-item">
          <a routerLink="/create-team" class="nav-link">Create Team</a>
        </li>
        }
      </ul>
      @if(isAuth()) {
      <button class="btn btn-outline-light" (click)="logout()">Logout</button>
      }@else {
      <div class="ms-auto d-flex gap-2">
        <a routerLink="/login" class="btn btn-primary">Log in</a>
        <a routerLink="/register" class="btn btn-secondary">Sign up</a>
      </div>
      }
    </div>
  </div>
</nav>
