/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  /* Primary Colors */
  --color-primary: #00141e; /* Vivid Blue - CTA, buttons */
  --color-primary-dark: #1e40af; /* Deep Blue - hover, active */
  --color-primary-light: #60a5fa; /* Soft Blue - backgrounds, subtle accents */

  /* Secondary Colors */
  --color-secondary: #f59e42; /* Warm Orange - highlights, links */
  --color-secondary-dark: #b45309; /* Deep Orange - hover, active */

  /* Accent Colors */
  --color-accent: #10b981; /* Emerald Green - success, accents */
  --color-accent-light: #6ee7b7; /* Light Green - subtle highlights */

  /* Neutral Colors */
  --color-bg: #f3f4f6; /* Light Gray - main background */
  --color-surface: #ffffff; /* Card, modal backgrounds */
  --color-footer-bg: #1e293b; /* Dark Navy - footer */
  --color-border: #e5e7eb;

  /* Text Colors */
  --color-text-dark: #171717; /* Dark text for light backgrounds */
  --color-text-light: #f9fafb; /* Light text for dark backgrounds */
  --color-text-grey: #404040;
  /* Info/Alert Colors */
  --color-info: #38bdf8; /* Sky Blue - info, tips */
  --color-warning: #fbbf24; /* Amber - warnings */
  --color-error: #ef4444; /* Red - errors */

  /* Icon */
  --color-icon-primary: #2563eb;
  --icon-size: 20px;

  --border-color-base: 229 229 229; /* RGB only, no rgb() wrapper */
  --border-opacity: 1;

  --color-panel: #1f2833;
  --color-accent: #66fcf1;
  --color-accent-dark: #45a29e;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--color-bg);
}
.bg-custom-primary {
  background-color: var(--color-primary);
  color: #fff;
}
.selected {
  text-underline-offset: 6px;
  font-weight: bold;
  color: #0d6efd; /* optional Bootstrap primary color */
}
