<section
  class="login-section d-flex flex-column justify-content-center align-items-center bg-dark main-container p-5"
>
  <div class="d-flex">
    <div class="d-flex">
      <img
        src="assets/svg/welcome.svg"
        class="img-fluid w-75 d-none d-md-block"
        alt="Sign up immage is missing"
      />
    </div>

    <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="mb-3 text-white">Login</h2>
      <p class="mb-4 text-white">Welcome back!</p>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label text-white">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="marco@gmail.com"
          [class.is-invalid]="email?.invalid">
          <div class="invalid-feedback" *ngIf="email?.invalid">
          Put a valid email address.
    </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label text-white">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          [class.is-invalid]="password?.invalid">
          <div class="invalid-feedback" *ngIf="password?.invalid">
          Put a password with at least 6 characters.
    </div>
      </div>

      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
      </div>
      <p class="text-center text-white mt-3">
        Don’t have an account?
        <a routerLink="/register" class="text-decoration-underline text-info">Sign up here</a>
      </p>
    </form>
  </div>
</section>
