<section
  class="register-section d-flex flex-column justify-content-center align-items-center bg-dark main-container p-5"
>
  <div class="d-flex">
    <div class="d-flex">
      <img
        src="assets/svg/signup.svg"
        class="img-fluid w-75 d-none d-md-block"
        alt="Sign up immage is missing"
      />
    </div>

    <form class="d-flex flex-column" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2 class="mb-3 text-white">Sign Up</h2>
      <p class="mb-4 text-white">Create your account to start using the platform</p>

      <!-- Name -->
      <div class="mb-3">
        <label for="name" class="form-label text-white">First Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Marco"
          [class.is-invalid]="name?.invalid"
        />
        <div class="invalid-feedback" *ngIf="name?.invalid">
          Put a name, either if you are a son of Elon.
      </div>
      </div>

      <!-- Last Name -->
      <div class="mb-3">
        <label for="lastName" class="form-label text-white">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="last_name"
          placeholder="Favero"
          [class.is-invalid]="last_name?.invalid"
        />
        <div class="invalid-feedback" *ngIf="last_name?.invalid">
          Are you a Brazilian player?
      </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label text-white">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="marco@gmail.com"
          [class.is-invalid]="email?.invalid"
        />
        <div class="invalid-feedback" *ngIf="email?.invalid">
          Please provide a valid email address.
      </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label text-white">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          [class.is-invalid]="password?.invalid"
        />
        <div class="invalid-feedback" *ngIf="password?.invalid">
          Password must be at least 6 characters long. </div>
      </div>


      <!-- Gender -->
      <div class="mb-3">
        <label for="gender" class="form-label text-white">Gender</label>
        <select class="form-select" id="gender" formControlName="gender">
          <option value="" selected disabled>Select your gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <div class="invalid-feedback">
      Please select a valid gender.
    </div>
      </div>

      <!-- Age -->
      <div class="mb-3">
        <label for="birthDate" class="form-label text-white">Date of Birth</label>
        <input
          type="date"
          class="form-control"
          id="birthDate"
          formControlName="birthDate"
          placeholder="1998-04-12"
          [class.is-invalid]="birthDate?.invalid"
        />
        <div class="invalid-feedback" *ngIf="birthDate?.invalid">
          You must be born to use this service. </div>
      </div>

      <!-- Phone Number -->
      <div class="mb-3">
        <label for="phoneNumber" class="form-label text-white">Phone Number</label>
        <input
          type="tel"
          class="form-control"
          id="phoneNumber"
          formControlName="phone_number"
          placeholder="1591827319"
          [class.is-invalid]="phone_number?.invalid"
        />
        <div class="invalid-feedback" *ngIf="phone_number?.invalid">
          We are in 21st century, please provide a valid phone number.
      </div>
      </div>

      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
      </div>
    </form>
  </div>
</section>
